@model Doctor
@{
    Layout = "_Auth";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>Clinic Login</title>
}

    <div class="card">
        <h3 class="text-center mb-4">Clinic Login</h3>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" class="form-control" required />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" required />
            </div>
            @* <div class="mb-3">
                <label for="loginRole" class="form-label">Select Role</label>
                <select class="form-select" id="loginRole" required>
                    <option value="">-- Select Role --</option>
                    <option value="Admin">Admin</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Patient">Patient</option>
                </select>
            </div> *@
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Don't have an account? <a asp-action="Signup">Sign Up</a></p>
        </div>
    </div>


@if (!string.IsNullOrEmpty(ViewBag.Error as string))
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Error
    </div>
}
