@using System.Security.Claims
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clinic.styles.css" asp-append-version="true" />
</head>
<body>
  
        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-heartbeat me-2"></i>Harmony Medical
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Patient" asp-action="Index">Patients</a>
                        </li>
                     
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Doctor" asp-action="Index">Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Appointment" asp-action="Index">Appointment</a>
                        </li>
                      
                        @using System.Security.Claims
                        @if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                        {
                            <li class="nav-item ms-lg-3">
                                <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Login" role="button">
                                    Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-lg-3">
                                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="signup.html" role="button">
                                    Sign Up
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Clinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
